<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
           @*  <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @* Si no está autenticado *@
                    @if (context.User.Identity?.IsAuthenticated == true)
                    {
                        <p>No tienes permiso para ver esta página.</p>
                    }
                    else
                    {
                        @* Usuario no autenticado, lo mandamos a /login *@
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo sentimos, no encontramos esa página.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>